# Initially taken from Github's Python gitignore file

# Django stuff:
*.log
*.pot

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# model
*.pth
*.pkl

# tts
checkpoints/
ljs_dataset_folder/
pretrained/
